html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

.rows {
    padding: 0 15px;
    margin-top: 20px;
    overflow: auto;
}

#topBar {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    float: left;
}

.mainEditor {
    border-radius: 3px;
    margin-top: 0;
    display: inline-block;
    height: 150px;
    position: relative;
    margin-bottom: 20px;
}

.bottomEditor {
    border-radius: 3px;
    height: 300px;
    position: relative;
}

#topTwo {
    margin-right: 1%;
    margin-top: 1%;
    text-align: right;
}

.ace_content {
    background-color: rgba(14, 98, 165, 0.07);
}